.device {
  min-height: 120rem;
  position: relative;
  background-image: linear-gradient(
      to bottom,
      rgba($white-color, 0.7),
      rgba($white-color, 0.6)
    ),
    url(../../assets/images/img-device-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 11rem;
  &-img {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 30%);
    width: 80%;
  }
  @include maxWidth(1023px) {
    padding-top: 8rem;
    min-height: 60rem;
    &-img {
      width: 100%;
    }
  }
  @include maxWidth(767px) {
    min-height: 40rem;
    padding-top: 3rem;
  }
}
