.footer {
  padding-top: 7.5rem;
  &-top {
    margin-bottom: 7rem;
    display: flex;
    justify-content: space-between;
  }
  &-preview {
    width: calc(40% - 4rem);
  }
  &-logo {
    font-size: 4.6rem;
    font-weight: bold;
    color: $dark-gray-color;
  }
  &-desc {
    font-size: 1.5rem;
    font-family: $secondary-font;
    color: $text-color;
    line-height: 1.4;
    padding-bottom: 5rem;
  }
  &-follower {
    font-weight: bold;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    position: relative;
    &-text {
      font-weight: 500;
    }
    &::before {
      content: "";
      position: absolute;
      @include size(100%, 0.1rem);
      left: 0;
      bottom: 0;
      background-color: $dark-gray-color;
    }
  }
  &-social {
    display: flex;
    margin-bottom: 4rem;
    align-items: flex-end;
    &-text {
      font-size: 1.5rem;
      font-family: $secondary-font;
      font-style: italic;
      color: $text-color;
      margin-right: 2rem;
    }
    &-item {
      color: $primary-color;
      margin: 0.5rem;
    }
    &-icon {
      font-size: 1.8rem;
    }
  }
  &-form {
    display: flex;
    &-input {
      padding: 1.2rem;
      width: 100%;
      max-width: 23rem;
      outline: none;
      border: 1px solid #ccc;
      border-right: 0;
    }
    &-button {
      padding: 0 3.5rem;
      text-transform: uppercase;
      background-color: $primary-color;
      color: $white-color;
      font-weight: bold;
      border: none;
      border: 2px solid $primary-color;
    }
  }
  &-blogs {
    width: calc(35% - 4rem);
    font-weight: 600;
    text-transform: uppercase;
    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:not(:last-child) {
        margin-bottom: 3rem;
      }
      &:hover {
        cursor: pointer;
      }
    }
    &-title {
      @include limitLine(2);
      line-height: 1.6;
    }
    &-date {
      text-transform: none;
      font-size: 1.3rem;
      font-family: $secondary-font;
      font-style: italic;
      color: $dark-gray-color;
      font-weight: 400;
      line-height: 1.6;
    }
    &-img {
      @include size(12rem, 8rem);
    }
    &-info {
      padding-left: 2rem;
    }
  }
  &-instagram {
    width: calc(25% - 4rem);
    &-heading {
      font-weight: 600;
      text-transform: uppercase;
    }
    &-list {
      display: flex;
      flex-wrap: wrap;
      margin-left: -0.2rem;
    }
    &-item {
      width: calc(calc(100% / 3) - 0.2rem);
      margin-left: 0.2rem;
      margin-bottom: 0.2rem;
      padding-bottom: calc(100% / 3);
      height: 0;
      position: relative;
    }
    &-image {
      object-fit: cover;
      @include absoluteFull();
    }
    &-more {
      font-family: $secondary-font;
      font-style: italic;
      font-size: 1.3rem;
      color: $text-color;
      margin-top: 2rem;
      display: inline-block;
    }
  }
  &-bottom {
    padding: 2.5rem 0;
    text-align: center;
    font-weight: 600;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      @include size(100%, 0.1rem);
      left: 0;
      top: 0;
      background-color: $dark-gray-color;
    }
  }
  &-author {
    color: $secondary-color;
  }
  &-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-heading {
      margin-bottom: 4rem;
    }
  }
  @include maxWidth(1023px) {
    &-top {
      display: block;
    }
    &-column {
      width: 100%;
      margin-bottom: 5rem;
    }
  }
  @include maxWidth(767px) {
    padding-top: 5rem;
    &-top {
      margin-bottom: 5rem;
    }
  }
}
