$primary-color: #95e1d3;
$secondary-color: #e98282;
$third-color: #f0d98a;
$white-color: #ffffff;
$title-color: #333333;
$text-color: #999999;
$gray-color: #f8f8f8;
$dark-gray-color: #cccccc;
$primary-font: "Montserrat", sans-serif;
$secondary-font: "Roboto", sans-serif;
$third-font: "Kaushan Script", cursive;
$wrapper: 1920px;
$container: 1200px;
