section.about
    .container 
        +blockHeader({
            caption: "What we do",
            title: "Story about us", 
            desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus saepe tempore, cum fuga soluta quis laboriosam hic molestiae iste harum, nam, distinctio consectetur nostrum! Nemo adipisci aspernatur voluptatibus laboriosam quaerat!"
        })
        ul.about-list 
            +aboutItem({
                src: "../assets/images/img-about-1.jpg"
            })
            +aboutItem({
                src: "../assets/images/img-about-2.jpg"
            })
            +aboutItem({
                src: "../assets/images/img-about-3.jpg"
            })
           
                
