section.device 
    .container 
        +blockHeader({
            caption: "For all devices",
            title: "Unique design"
        })
        img.device-img(src="../../assets/images/img-device-3.png")