footer.footer 
    .container 
        .footer-top 
            .footer-preview.footer-column
                a(href="index.html").footer-logo.footer-column-heading MoGo
                p.footer-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis quia tempora dignissimos animi harum autem ducimus dolor, quos repudiandae explicabo voluptas sint non aperiam sunt dolorem, est facilis cum error!
                p.footer-follower 15k <span class="footer-follower-text">followers</span>
                .footer-social
                    span.footer-social-text Follow us: 
                    .footer-social-list 
                        a(href="#").footer-social-item 
                            i.fab.fa-facebook-f.footer-social-icon
                        a(href="#").footer-social-item 
                            i.fab.fa-twitter.footer-social-icon
                        a(href="#").footer-social-item 
                            i.fab.fa-instagram.footer-social-icon
                        a(href="#").footer-social-item 
                            i.fab.fa-pinterest-p.footer-social-icon
                        a(href="#").footer-social-item 
                            i.fab.fa-google-plus-square.footer-social-icon
                        a(href="#").footer-social-item 
                            i.fab.fa-youtube.footer-social-icon
                        a(href="#").footer-social-item 
                            i.fas.fa-basketball-ball.footer-social-icon
                        a(href="#").footer-social-item 
                            i.fab.fa-tumblr.footer-social-icon
                form.footer-form(action="#")
                    input(type="text", placeholder="Your Email...").footer-form-input
                    button.footer-form-button Subscribe 
            .footer-blogs.footer-column
                h3.footer-blogs-heading.footer-column-heading Blogs
                ul.footer-blogs-list
                    li.footer-blogs-item
                        img.footer-blogs-img(src="../assets/images/img-blogs-1.jpg")
                        .footer-blogs-info
                            .footer-blogs-title Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas illo eligendi dolorem ab, esse dolorum est. Veniam consequuntur architecto doloremque repudiandae, molestias eaque eos laboriosam quibusdam fugiat obcaecati voluptates sint!
                            .footer-blogs-date Jan 9, 2016
                    li.footer-blogs-item
                        img.footer-blogs-img(src="../assets/images/img-blogs-2.jpg")
                        .footer-blogs-info
                            .footer-blogs-title Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas illo eligendi dolorem ab, esse dolorum est. Veniam consequuntur architecto doloremque repudiandae, molestias eaque eos laboriosam quibusdam fugiat obcaecati voluptates sint!
                            .footer-blogs-date Jan 9, 2016
                    li.footer-blogs-item
                        img.footer-blogs-img(src="../assets/images/img-blogs-3.jpg")
                        .footer-blogs-info
                            .footer-blogs-title Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas illo eligendi dolorem ab, esse dolorum est. Veniam consequuntur architecto doloremque repudiandae, molestias eaque eos laboriosam quibusdam fugiat obcaecati voluptates sint!
                            .footer-blogs-date Jan 9, 2016
            .footer-instagram.footer-column
                h3.footer-instagram-heading.footer-column-heading Instagram
                .footer-instagram-body
                    ul.footer-instagram-list 
                        li.footer-instagram-item
                            img(src="../assets/images/img-ins-1.jpg", alt="").footer-instagram-image
                        li.footer-instagram-item
                            img(src="../assets/images/img-ins-2.jpg", alt="").footer-instagram-image
                        li.footer-instagram-item
                            img(src="../assets/images/img-ins-3.jpg", alt="").footer-instagram-image
                        li.footer-instagram-item
                            img(src="../assets/images/img-ins-4.jpg", alt="").footer-instagram-image
                        li.footer-instagram-item
                            img(src="../assets/images/img-ins-5.jpg", alt="").footer-instagram-image
                        li.footer-instagram-item
                            img(src="../assets/images/img-ins-6.jpg", alt="").footer-instagram-image
                        li.footer-instagram-item
                            img(src="../assets/images/img-ins-7.jpg", alt="").footer-instagram-image
                        li.footer-instagram-item
                            img(src="../assets/images/img-ins-8.jpg", alt="").footer-instagram-image
                        li.footer-instagram-item
                            img(src="../assets/images/img-ins-9.jpg", alt="").footer-instagram-image
                    a(href="#").footer-instagram-more View more photos  
        .footer-bottom 
            p.footer-copyright &copy; 2016 MoGo free PSD template by <span class="footer-author">Laaqiq</span>