section.people 
    .container 
        +blockHeader({
            caption: "Happy clients",
            title: "What people say"
        })
        ul.people-list
            +peopleItem({
                src: "../../assets/images/img-people-1.jpg",
                name: "Mathew dix",
                job: "Graphic design",
                desc: "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam reprehenderit exercitationem vitae ab, a architecto voluptates aspernatur, doloremque qui perferendis laudantium molestias dolore eius. Rerum quo suscipit voluptatibus tempore molestias?"
            })
            +peopleItem({
                src: "../../assets/images/img-people-2.jpg",
                name: "Nick karvounis",
                job: "Frontend developer",
                desc: "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam reprehenderit exercitationem vitae ab, a architecto voluptates aspernatur, doloremque qui perferendis laudantium molestias dolore eius. Rerum quo suscipit voluptatibus tempore molestias?"
            })
            +peopleItem({
                src: "../../assets/images/img-people-3.jpg",
                name: "Jaelynn castillo",
                job: "Backend developer",
                desc: "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam reprehenderit exercitationem vitae ab, a architecto voluptates aspernatur, doloremque qui perferendis laudantium molestias dolore eius. Rerum quo suscipit voluptatibus tempore molestias?"
            })
            +peopleItem({
                src: "../../assets/images/img-people-4.jpg",
                name: "Mike petrucci",
                job: "Fullstack developer",
                desc: "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam reprehenderit exercitationem vitae ab, a architecto voluptates aspernatur, doloremque qui perferendis laudantium molestias dolore eius. Rerum quo suscipit voluptatibus tempore molestias?"
            })
            
            