section.quote
    .container 
        .quote-container 
            //- i.fas.fa-angle-left.quote-icon
            +quoteItem({
                classIcon: "fas fa-envelope-open-text",
                desc: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium esse ea repudiandae totam quam aperiam quidem. Deleniti iste libero distinctio a? Natus, neque quibusdam ullam laboriosam perferendis praesentium quo minus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, architecto atque repellat commodi fuga mollitia nam reiciendis nihil corrupti rerum facere odio! Vel vero explicabo sed tempore placeat suscipit laboriosam.",
                author: "Jon doe"
            })
            +quoteItem({
                classIcon: "fab fa-accessible-icon",
                desc: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium esse ea repudiandae totam quam aperiam quidem. Deleniti iste libero distinctio a? Natus, neque quibusdam ullam laboriosam perferendis praesentium quo minus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, architecto atque repellat commodi fuga mollitia nam reiciendis nihil corrupti rerum facere odio! Vel vero explicabo sed tempore placeat suscipit laboriosam.",
                author: "Mike young"
            })
            +quoteItem({
                classIcon: "fas fa-ambulance",
                desc: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium esse ea repudiandae totam quam aperiam quidem. Deleniti iste libero distinctio a? Natus, neque quibusdam ullam laboriosam perferendis praesentium quo minus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, architecto atque repellat commodi fuga mollitia nam reiciendis nihil corrupti rerum facere odio! Vel vero explicabo sed tempore placeat suscipit laboriosam.",
                author: "Cristiano ronaldo"
            })
            +quoteItem({
                classIcon: "fab fa-angellist",
                desc: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium esse ea repudiandae totam quam aperiam quidem. Deleniti iste libero distinctio a? Natus, neque quibusdam ullam laboriosam perferendis praesentium quo minus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, architecto atque repellat commodi fuga mollitia nam reiciendis nihil corrupti rerum facere odio! Vel vero explicabo sed tempore placeat suscipit laboriosam.",
                author: "Michael jack"
            })
            //- i.fas.fa-angle-right.quote-icon

