section.quote
    .container 
        .quote-container 
            //- i.fas.fa-angle-left.quote-icon
            +quoteItem({
                desc: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium esse ea repudiandae totam quam aperiam quidem. Deleniti iste libero distinctio a? Natus, neque quibusdam ullam laboriosam perferendis praesentium quo minus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, architecto atque repellat commodi fuga mollitia nam reiciendis nihil corrupti rerum facere odio! Vel vero explicabo sed tempore placeat suscipit laboriosam.",
                author: "Jon doe",
                src: "../assets/images/img-quote-1.jpg"
            })
            +quoteItem({
                desc: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium esse ea repudiandae totam quam aperiam quidem. Deleniti iste libero distinctio a? Natus, neque quibusdam ullam laboriosam perferendis praesentium quo minus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, architecto atque repellat commodi fuga mollitia nam reiciendis nihil corrupti rerum facere odio! Vel vero explicabo sed tempore placeat suscipit laboriosam.",
                author: "Mike young",
                src: "../assets/images/img-quote-2.jpg"
            })
            +quoteItem({
                desc: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium esse ea repudiandae totam quam aperiam quidem. Deleniti iste libero distinctio a? Natus, neque quibusdam ullam laboriosam perferendis praesentium quo minus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, architecto atque repellat commodi fuga mollitia nam reiciendis nihil corrupti rerum facere odio! Vel vero explicabo sed tempore placeat suscipit laboriosam.",
                author: "Cristiano ronaldo",
                src: "../assets/images/img-quote-3.jpg"
            })
            +quoteItem({
                desc: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium esse ea repudiandae totam quam aperiam quidem. Deleniti iste libero distinctio a? Natus, neque quibusdam ullam laboriosam perferendis praesentium quo minus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, architecto atque repellat commodi fuga mollitia nam reiciendis nihil corrupti rerum facere odio! Vel vero explicabo sed tempore placeat suscipit laboriosam.",
                author: "Michael jack",
                src: "../assets/images/img-quote-4.jpg"
            })
            
            //- i.fas.fa-angle-right.quote-icon

