section.service 
    .container 
        +blockHeader({
            caption: "We work with",
            title: "Amazing services",
        })
        .service-container
            ul.service-list 
                +serviceItem({
                    classIcon: "far fa-clock",
                    caption: "Photography",
                    desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum totam sint odit dolores quas magnam placeat ipsam doloribus dicta."
                })
                +serviceItem({
                    classIcon: "fas fa-chart-line",
                    caption: "Web design",
                    desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum totam sint odit dolores quas magnam placeat ipsam doloribus dicta."
                })
                +serviceItem({
                    classIcon: "fas fa-desktop",
                    caption: "Creativity",
                    desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum totam sint odit dolores quas magnam placeat ipsam doloribus dicta."
                })
            ul.service-list 
                +serviceItem({
                    classIcon: "fas fa-book-open",
                    caption: "Seo",
                    desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum totam sint odit dolores quas magnam placeat ipsam doloribus dicta."
                })
                +serviceItem({
                    classIcon: "fas fa-home",
                    caption: "Css/html",
                    desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum totam sint odit dolores quas magnam placeat ipsam doloribus dicta."
                })
                +serviceItem({
                    classIcon: "fas fa-cubes",
                    caption: "Digital",
                    desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum totam sint odit dolores quas magnam placeat ipsam doloribus dicta."
                })