section.story 
    .container 
        +blockHeader({
            caption: "Our stories",
            title: "Lastest blog"
        })
        ul.story-list
            +storyItem({
                src: "../../assets/images/img-story-1.jpg",
                day: "15",
                month: "Jan",
                title: "Lorem ipsum dolor sit amet",
                desc: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci omnis maiores nobis possimus dignissimos excepturi sed fuga rerum quos vitae consectetur fugiat ab vero iure consequuntur fugiat ab vero iure consequuntur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci omnis maiores",
                sumOfViews: "542",
                sumOfComments: "17"
            })
            +storyItem({
                src: "../../assets/images/img-story-2.jpg",
                day: "14",
                month: "Jan",
                title: "Seo do eiusmod tempor",
                desc: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci omnis maiores nobis possimus dignissimos excepturi sed fuga rerum quos vitae consectetur fugiat ab vero iure consequuntur",
                sumOfViews: "992",
                sumOfComments: "42"
            })
            +storyItem({
                src: "../../assets/images/img-story-3.jpg",
                day: "09",
                month: "Jan",
                title: "Incididunt ut labore et dolore",
                desc: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci omnis maiores nobis possimus dignissimos excepturi sed fuga rerum quos vitae consectetur fugiat ab vero iure consequuntur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci omnis maiores nobis possimus dignissimos excepturi sed fuga rerum quos vitae consectetur fugiat ab vero iure consequuntur",
                sumOfViews: "1560",
                sumOfComments: "98"
            })

section.map 
    .map-container 
        i.fas.fa-map-marker-alt.map-icon
        p.map-text Open map