section.wedo 
    .container 
        +blockHeader({
            caption: "Service",
            title: "What we do",
            desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta est voluptates illum voluptatum molestias. Unde, expedita aliquam. Nihil repellat, vero illum, reiciendis eveniet dolor voluptatibus aperiam at sit pariatur quam?"
        })
        .wedo-container 
            img.wedo-img(src="../../assets/images/img-wedo.jpg")
            .wedo-content 
                +wedoItem({
                    classIcon: "far fa-images",
                    title: "Photography",
                    text: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos nostrum minus minima enim facilis deleniti incidunt esse natus cupiditate tenetur fuga consequuntur, molestiae ea quas iste. Dolorum sunt pariatur voluptatibus. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos nostrum minus minima enim facilis deleniti incidunt esse natus cupiditate tenetur fuga consequuntur, molestiae ea quas iste. Dolorum sunt pariatur voluptatibus. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos nostrum minus minima enim facilis deleniti incidunt esse natus cupiditate tenetur fuga consequuntur, molestiae ea quas iste. Dolorum sunt pariatur voluptatibus. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos nostrum minus minima enim facilis deleniti incidunt esse natus cupiditate tenetur fuga consequuntur, molestiae ea quas iste. Dolorum sunt pariatur voluptatibus.",
                    active: "is-active"
                })
                +wedoItem({
                    classIcon: "fas fa-sliders-h",
                    title: "Creativity",
                    text: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos nostrum minus minima enim facilis deleniti incidunt esse natus cupiditate tenetur fuga consequuntur, molestiae ea quas iste. Dolorum sunt pariatur voluptatibus. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos nostrum minus minima enim facilis deleniti incidunt esse natus cupiditate tenetur fuga consequuntur, molestiae ea quas iste. Dolorum sunt pariatur voluptatibus. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos nostrum minus minima enim facilis deleniti incidunt esse natus cupiditate tenetur fuga consequuntur, molestiae ea quas iste. Dolorum sunt pariatur voluptatibus. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos nostrum minus minima enim facilis deleniti incidunt esse natus cupiditate tenetur fuga consequuntur, molestiae ea quas iste. Dolorum sunt pariatur voluptatibus."
                })
                +wedoItem({
                    classIcon: "far fa-dot-circle",
                    title: "Web design",
                    text: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos nostrum minus minima enim facilis deleniti incidunt esse natus cupiditate tenetur fuga consequuntur, molestiae ea quas iste. Dolorum sunt pariatur voluptatibus. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos nostrum minus minima enim facilis deleniti incidunt esse natus cupiditate tenetur fuga consequuntur, molestiae ea quas iste. Dolorum sunt pariatur voluptatibus. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos nostrum minus minima enim facilis deleniti incidunt esse natus cupiditate tenetur fuga consequuntur, molestiae ea quas iste. Dolorum sunt pariatur voluptatibus. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos nostrum minus minima enim facilis deleniti incidunt esse natus cupiditate tenetur fuga consequuntur, molestiae ea quas iste. Dolorum sunt pariatur voluptatibus."
                })
                
                