section.work 
    .container
        +blockHeader({
            caption: "What we do",
            title: "Some of our work",
            desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium expedita facilis necessitatibus saepe, veniam maiores, cum velit molestias quos aperiam autem eveniet, perferendis natus? Quos beatae magni accusantium nostrum voluptatem."
        })
    .work-list
        +workItem({
            src: "../../assets/images/img-work-1.jpg"
        })
        +workItem({
            src: "../../assets/images/img-work-2.jpg"
        })
        +workItem({
            src: "../../assets/images/img-work-3.jpg"
        })
        +workItem({
            src: "../../assets/images/img-work-4.jpg"
        })
        +workItem({
            src: "../../assets/images/img-work-5.jpg"
        })
        +workItem({
            src: "../../assets/images/img-work-6.jpg"
        })
        +workItem({
            src: "../../assets/images/img-work-7.jpg"
        })
        